// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.social-btn {
  // background-color: yellow;
  color: #ffffff;
  background-color: #bf5700;
  height: 50px;
  padding: 5 5 5 5;
  width: 100%;
  text-align: center;
  border-radius: 50px;
}
